@charset "UTF-8";
@import "../../../node_modules/materialize-css/sass/components/color-variables";
@import "../../../node_modules/materialize-css/sass/components/color-classes";
@import "../../../node_modules/materialize-css/sass/components/variables";

*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    div.container
    {
        margin-top: 50px;

        @media only screen and (min-width: $small-screen-up)
        {
            width: 50%;
        }

        ul.base-info
        {
            border: none;
            width: 100%;

            @media only screen and (max-width: $small-screen)
            {
                padding: 0;
            }

            li:first-child
            {
                border-bottom: none;

                h4
                {
                    @media only screen and (max-width: $small-screen)
                    {
                        text-align: center;
                    }
                }
            }
        }

        blockquote.blue
        {
            background-color: #ffffff !important;
            border-color: color('blue', 'base') !important;
        }

        div.experience
        {
            i.material-icons
            {
                position: relative;
                top: 5px !important;
                margin-right: 15px;
            }

        }

        blockquote.instagram-media
        {
            div {
                padding:8px;
            }
        }
    }
}
